body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    color: #363636;
}
header {
    height: 200px;
    width: auto;
    background-color: #A8A7A8;
    text-align: center;
}
header h1 {
    font-family: 'Oswald', sans-serif;
    position: relative;
    margin: 0 auto;
    padding-top: 70px;
}
body section {
    padding: 20px 0 30px 0;
    color: white;
    background-color: #474747;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}
body section div h2 {
    position: relative;
    text-align: center;
}
body section div .form {
    text-align: center;
}
#carousel {
    width: 800px;
}
#carousel .item {
    margin: 3px;
}
#carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}
.album #carousel {
    position: relative;
    margin: 0 auto;
}
nav {
    background: #474747;
}
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
    text-decoration: none;
}
nav ul li:hover {
    background: #126d9b;
}
nav ul li ul {
    border-bottom: 5px solid #363636;
    display: none;
    position: absolute;
    width: 250px;
}
nav ul li ul li {
    border-top: 1px solid #444;
    display: block;
}
nav ul li ul li:first-child {
    border-top: none;
}
nav ul li ul li a {
    background: #373737;
    display: block;
    padding: 10px 14px;
}
nav ul li ul li a:hover {
    background: #126d9b;
}
body footer {
    color: white;
    height: auto;
    width: auto;
    background-color: #363636;
}
body footer h5 {
    margin: 0 auto;
}
